.block-9-row{
  .block-9-title{
    background-color: #654a61;
    text-align: center;

    h1{
      font-family: Bebas;
      color: #FFFFFF;
      margin: 50px 10px;
    }
  }

  #map{
    width: 100%;
    height: 450px;
  }
}