.block-6-row{
  background-color: #FFFFFF;

  .container{
    margin-bottom: 60px;
  }
  .block-6-title{
    text-align: center;

    h1 {
      font-family: Bebas;
      margin: 80px 30px;
    }
  }

  .block-6-left {

    .left-block-info {
      margin-bottom: 40px;

      .icon-div {
        margin: auto;

        .circle {
          width: 100px;
          height: 100px;
          background-color: #1dccc7;
          border: 4px solid #1ecac5;
          border-radius: 50px;
          display: table;

          i {
            text-align: center;
            color: #FFFFFF;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }

      .info-div{

        h4{
          color: #707876;
        }

        p{
          color: #9d9d9d;
        }
      }
    }
    .left-block-info:hover{
      h4 {
        color: #1dccc7;
      }
    }
  }
}