.block-4-row{
  background-color: #FFFFFF;
  .block-4-group{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;

    i{
      color: #1dccc7;
    }
    h4{
      color: #b2bbba;
      font-family: Arial;
      font-weight: lighter;
    }

    #numbers {

      margin: 30px;
    }
    .count
    {
      font-family: Arial;
      font-weight: bolder;
      color: #717978;
      font-size:30px;
    }

    .linker {
      font-size : 20px;
      color: black;
    }
  }
}